source https://api.nuget.org/v3/index.json

clitool dotnet-fable 

nuget Fable.Core
nuget Fable.React
nuget Fable.Elmish.React
nuget FSharp.Data


nuget FSharp.Data.Npgsql
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Abstractions
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.UserSecrets


